.vs/
.vscode/
Skilbox-C-sharp/.vs/
Skilbox-C-sharp/Skilbox-C-sharp/
Skilbox-C-sharp/Lesson-1/bin
Skilbox-C-sharp/Lesson-1/obj
Skilbox-C-sharp/Lesson-1/*csproj
Skilbox-C-sharp/Lesson-2/bin
Skilbox-C-sharp/Lesson-2/obj
Skilbox-C-sharp/Lesson-2/*csproj
Skilbox-C-sharp/Lesson-3-1-parity-check/bin
Skilbox-C-sharp/Lesson-3-1-parity-check/obj
Skilbox-C-sharp/Lesson-3-1-parity-check/*csproj
Skilbox-C-sharp/Lesson-3-2-blackjack/bin
Skilbox-C-sharp/Lesson-3-2-blackjack/obj
Skilbox-C-sharp/Lesson-3-2-blackjack/*csproj
Skilbox-C-sharp/Lesson-3-4-task-from-source-3-1/bin
Skilbox-C-sharp/Lesson-3-4-task-from-source-3-1/obj
Skilbox-C-sharp/Lesson-3-4-task-from-source-3-1/*csproj
Skilbox-C-sharp/Lesson-3-3-checking-a-prime-number/bin
Skilbox-C-sharp/Lesson-3-3-checking-a-prime-number/obj
Skilbox-C-sharp/Lesson-3-3-checking-a-prime-number/*csproj
Skilbox-C-sharp/Lesson-4-from-site-1-random-matrix/bin
Skilbox-C-sharp/Lesson-4-from-site-1-random-matrix/obj
Skilbox-C-sharp/Lesson-4-from-site-1-random-matrix/*csproj
Skilbox-C-sharp/Lesson-4-from-site-2-minimum-in-line/bin
Skilbox-C-sharp/Lesson-4-from-site-2-minimum-in-line/obj
Skilbox-C-sharp/Lesson-4-from-site-2-minimum-in-line/*csproj
Skilbox-C-sharp/Lesson-4-from-site-3-guess-the-number/bin
Skilbox-C-sharp/Lesson-4-from-site-3-guess-the-number/obj
Skilbox-C-sharp/Lesson-4-from-site-3-guess-the-number/*csproj
Skilbox-C-sharp/Lesson-4-from-source-1-financial-accounting/bin
Skilbox-C-sharp/Lesson-4-from-source-1-financial-accounting/obj
Skilbox-C-sharp/Lesson-4-from-source-1-financial-accounting/*csproj
Skilbox-C-sharp/Lesson-4-from-source-2-pascal-triangle/bin
Skilbox-C-sharp/Lesson-4-from-source-2-pascal-triangle/obj
Skilbox-C-sharp/Lesson-4-from-source-2-pascal-triangle/*csproj
Skilbox-C-sharp/Lesson-4-from-source-3-matrix/bin
Skilbox-C-sharp/Lesson-4-from-source-3-matrix/obj
Skilbox-C-sharp/Lesson-4-from-source-3-matrix/*csproj