.vs/
.vscode/
Lesson-1/
Lesson-2/
Lesson-3-1-parity-check/
Lesson-3-2-blackjack/
Lesson-3-3-checking-a-prime-number/
Lesson-3-4-task-from-source-3-1/
Lesson-4-from-site-1-random-matrix/
Lesson-4-from-site-2-minimum-in-line/
Lesson-4-from-site-3-guess-the-number/
Lesson-4-from-source-1-financial-accounting/
Lesson-4-from-source-2-pascal-triangle/
Lesson-4-from-source-3-matrix/
Lesson-5-from-site-1-string-split/
Lesson-5-from-site-2-string-revers/
Lesson-5-from-source-1-matrix/
Lesson-5-from-source-2-text-methods/
Lesson-5-from-source-4-numbers-check/
Lesson-5-from-source-5-akkerman/
Lesson-6-from-site-1-emp-data-base/
Lesson-6-from-sourse-1/
Lesson-7/
Lesson-8/
Lesson-9/
Lesson-10/
Lesson10-v2/
MyBotLib/