.vs/
.vscode/
Skilbox-C-sharp/.vs/
Skilbox-C-sharp/Skilbox-C-sharp/
Skilbox-C-sharp/Lesson-1/bin
Skilbox-C-sharp/Lesson-1/obj
Skilbox-C-sharp/Lesson-1/*csproj
Skilbox-C-sharp/Lesson-2/bin
Skilbox-C-sharp/Lesson-2/obj
Skilbox-C-sharp/Lesson-2/*csproj
Skilbox-C-sharp/Lesson-3-1-parity-check/bin
Skilbox-C-sharp/Lesson-3-1-parity-check/obj
Skilbox-C-sharp/Lesson-3-1-parity-check/*csproj
Skilbox-C-sharp/Lesson-3-2-blackjack/bin
Skilbox-C-sharp/Lesson-3-2-blackjack/obj
Skilbox-C-sharp/Lesson-3-2-blackjack/*csproj
Skilbox-C-sharp/Lesson-3-4-task-from-source-3-1/bin
Skilbox-C-sharp/Lesson-3-4-task-from-source-3-1/obj
Skilbox-C-sharp/Lesson-3-4-task-from-source-3-1/*csproj
Skilbox-C-sharp/Lesson-3-3-checking-a-prime-number/bin
Skilbox-C-sharp/Lesson-3-3-checking-a-prime-number/obj
Skilbox-C-sharp/Lesson-3-3-checking-a-prime-number/*csproj